body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(183deg, #173164, #511752);
}

.container {
  text-align: center;
border-radius: 15px;
    background-color: blanchedalmond;
    width: 400px;
    height: 400px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.ultask{
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.liTask{
  list-style: none;
  display: flex;
  align-items: baseline;
  margin-left: 55px;
}

